html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.weather-icon {
  font-size: 100px;
}

.container > .center {
  max-width: 600px;
  margin: 0 auto;
}
/* #f8d7e8 #f3b1cd*/
.card.weather-card {
  background: #e6cb5f;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  border-radius: 0.5 rem;
  min-height: 50vh;
  position: relative;
}

.card.pokemon-card {
  --pokemon-card-width: 250px;
  --pokemon-card-height: 250px;
  background: #f78869;
  width: var(--pokemon-card-width);
  height: var(--pokemon-card-height);
  position: absolute;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  bottom: calc(var(--pokemon-card-height) * -0.5);
  right: calc(var(--pokemon-card-width) * -0.5);
}

body {
  height: 100%;
  background: white;
  background-image: url(pokemon_bg.jpg);
  background-size: cover;
  background-position: 0 -150px;
}

.btn.btn-primary {
  background-color: #71b4de;
  border-color: #71b4de;
  font-weight: bold;
}

.temperature-wrapper {
  display: flex;
  flex-direction: row;
}

.weather-icon {
  width: 72px;
  height: 72px;
  padding: 0;
}

.unit-changer {
  cursor: pointer;
  color: blue;
  font-weight: bold;
  padding: 0 4px;
}

.unit-changer.selected {
  color: black;
  cursor: default;
}

.temperature-info {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.temperature-value {
  display: inline;
  font-size: 48px;
  font-weight: 500;
  align-self: center;
}

.weather-forecast {
  margin-top: 16px;
  text-align: center;
  color: black;
}

.weather-forecast-date {
  margin-top: 16px;
  opacity: 0.5;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

.weather-forecast-temperature {
  font-size: 13px;
}
