html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.weather-icon {
  font-size: 100px;
}

.container > .center {
  max-width: 600px;
  margin: 0 auto;
}

body {
  height: 100%;
  background: linear-gradient(to left top, #1c92d2, #f2fcfe);
}

.temperature-wrapper {
  display: flex;
  flex-direction: row;
}

img#icon {
  width: 72px;
  height: 72px;
  padding: 0;
}

.temperature-info {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

#temperature {
  display: inline;
  font-size: 48px;
  font-weight: 500;
  align-self: center;
}

#temperature-units {
}

.weather-forecast {
  margin-top: 16px;
  text-align: center;
  color: black;
}

.weather-forecast-date {
  margin-top: 16px;
  opacity: 0.5;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

.weather-forecast-temperature {
  font-size: 13px;
}
